body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;
}

#app canvas {
  outline: none;
}

#vignette {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0.6502976190476191) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

#debug {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 350px;
  z-index: 10;
}
